<nav>
    <ul class="sidebar">
        <li onclick=hideSidebar()><a href="#">X</a></li>
        <li><a href="https://www.youtube.com/@CompanyJig", target="_blank">Youtube</a></li>
        <li><a href="https://discord.companyjig.com", target="_blank">Discord</a></li>
        <li>*I am working on changing the navigation system,<br>so sorry if the mobile version is broken right now.</li>
    </ul>

    <ul>
        <li class="menu-button" onclick=showSidebar()><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></svg></a></li>
        
        <div class="nav-left">
            <li class="nav-title"><a href="/home"><img src="/assets/fav.png" alt="Logo"></a></li>
            <li class="nav-title"><a href="/lcwordle"><img src="/assets/Clown_Horn.png" alt="LCwordle"></a></li>
            <li class="hideOnMobile"><a href="/home"><img class="logo" src="/assets/fav.png" alt="Logo"></a></li>
            <li class="hideOnMobile"><a href="/lcwordle"><img class="logo" src="/assets/Clown_Horn.png" alt="Logo"></a></li>
        </div>

        <div class="nav-center">
        </div>

        <div class="nav-right">
            <li class="hideOnMobile"><a href="https://www.youtube.com/@CompanyJig" target="_blank"><img src="/assets/icons/youtube.svg" alt="Youtube"></a></li>
            <li class="hideOnMobile"><a href="https://discord.companyjig.com" target="_blank"><img src="/assets/icons/discord.svg" alt="Discord"></a></li>
            <li class="hideOnMobile"><a href="https://bsky.app/profile/companyjig.com" target="_blank"><img src="/assets/icons/bluesky.svg" alt="Bluesky"></a></li>
            <li class="hideOnMobile"><a href="https://www.tiktok.com/@companyjig" target="_blank"><img src="/assets/icons/tiktok.svg" alt="Logo"></a></li>
        </div>
    </ul>
</nav>